<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Iniciar cuenta - allfi</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{% static 'css/styles_index.css' %}" rel="stylesheet">
</head>

<body>

<div class="container header">
    <img src="https://res.cloudinary.com/rinya/image/upload/v1584655654/videoclub/icon_offdmw.png" class="logo">
</div>


<div class=" modal-dialog ">
    <div class="col-xl-6">
        <div class="modal-content btn-dark">
            <div class="text-center" id="error">
                <h4> Nombre del usuario o contraseña incorrecto </h4>
                <a href="{% url 'login' %}" class="btn btn-registrar" id="volver">Volver</a>
            </div>
        </div>
    </div>
</div>

<footer>
    <p>&copy; 2020, allfi</p>
</footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
