<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Búsqueda - allfi</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="{% static 'css/style_search.css' %}" rel="stylesheet">
</head>

<body>

<nav id="header" class="navbar navbar-fixed-top">
    <div id="header-container" class="container navbar-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img
                    src="https://res.cloudinary.com/rinya/image/upload/v1584655654/videoclub/icon_offdmw.png" width="60"
                    height="35"></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form" action="{% url 'home' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="text" class="form-control mr-sm-2" placeholder="Buscar" id="searchtext" name="searchtext">
                        </div>
                        <button type="submit" class="btn btn-search" id="searchbutton" name="searchbutton">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </form>
                </li>
                <li>
                    <a href="#" class="header-btn" data-toggle="dropdown">
                        <!--<img class="img-circle"
                             src="https://res.cloudinary.com/rinya/image/upload/v1584655654/videoclub/1.NoGameNoLifeZero_B_orhc3u.jpg"
                             width="35" height="35">-->
                        <span><b>Cuenta</b></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href={% url 'user' %}><p>Configuración</p></a></li>
                        <li><a href={% url 'logout' %}><p>Cerrar sesión</p></a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.nav-collapse -->
    </div><!-- /.container -->
</nav><!-- /.navbar -->

<div class="text-center oper">
    <h1>{{ nothing }}</h1>
</div>
{% for movie in movie_list %}
<div class="container movie">
    <section class="row">
        <div class="col-md-4 text-center movie-img">
            <a href="{% url 'movie' movie.id %}">
                <img src="{{ movie.urlposter }}"
                     class="m-img">
            </a>
        </div>
        <div class="col-md-8 movie-detail">
            <div class="row">
                <div class="col-md-8">
                    <a href="{% url 'movie' movie.id %}">
                        <h2>{{ movie.name }}</h2>
                    </a>
                </div>
                <div class="col-md-4">
                    <h1>{{ movie.score }}</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <p>Tipo: {{ movie.genres }}</p>
                    <p>Año de estreno: {{ movie.year }}</p>
                    <p>Director: {{ movie.director }}</p>
                </div>
            </div>
        </div>
    </section>
</div>
{% endfor %}



<br>

<footer>
    <p>&copy; 2020, allfi</p>
</footer>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'scripts/script.js' %}"></script>

</html>