
html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0 0 50px;
  background-color: rgba(0, 0, 0, 0.95);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
}

footer {
  border-top: 1px solid #222222;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  opacity: 0.8;
}

footer p {
  margin: 15px 0 0 0;
}

.header {
  height: 100px;
}

/*navbar*/
.icon-bar{
 background: #fff;
}

.btn-search {
  background: #fff;
}

.navbar-brand {
  font-size: 24px;
}

.navbar-container {
  padding: 20px 0 20px 0;
}

.navbar.navbar-fixed-top.fixed-theme {
  background-color: #222;
  box-shadow: 0 0 5px rgba(0,0,0,0.8);
}

.navbar-brand.fixed-theme {
  font-size: 18px;
}

.navbar-container.fixed-theme {
  padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
  transition: 0.8s;
  -webkit-transition:  0.8s;
}

.navbar-form {
  margin-left: 5px;
  margin-right: 5px;
  color: #00aeef;
}

.header-btn {
  color: #00aeef;
}

.navbar-form {
  opacity: 0.8;
}

.btn-search {
  color: #00aeef;
  font-weight: 600;
}

#searchbutton {
  outline: none;
}

.dropdown-menu {
  background: #ececec;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.8);
  border-color: #ececec;
  opacity: 0.95;
}

.dropdown-menu li :hover {
  background: #222222;
}

.dropdown-menu li a {
  margin-left: 5px;
  margin-right: 5px;
  color: #23527b;
}

.dropdown-menu li a p{
  font-weight: 600;
  margin-top: 2px;
  margin-bottom: 2px;
}

.dropdown-menu li a:hover {
  background: #222222;
  color: #ececec;
}

/*.navbar-nav {
  display: flex;
  align-items: center;
}*/
/*fin navbar*/

.series {
  color: #fff;
  padding-bottom: 20px;
}

.series a {
  color: #fff;
  text-decoration:none; /*Elimina subrayado*/
}

.series p {
  padding-top: 15px;
}

.series img {
  width: 100%;
  margin-top: 15px;
  box-shadow: -10px 10px 5px 0 #000;
  cursor: pointer;
  transition: 1s;
}

.series img:hover{
  transform: translateY(-10px);
}

.carousel {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
}


.item img {
  border-radius: 12px;
}

.carousel-control {
  border-radius: 12px;
}

hr.divider{
  width: 1150px;
  border-top: 1px solid #8c8b8b;
}

.btn-mas {
  margin-top: 15px;
  border-radius: 100px;
  color: #fff;
  background: #009edb;
  font-weight: 600;
}

/*sol_operation*/
.oper {
  margin-top: 50px;
  color: #ffffff;
}

#goback {
  margin-top: 50px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 50px;
  padding: 7px 20px;
  color: #fff;
  background: #009edb;
  font-weight: 600;
  outline:none;
}

/*genres*/
#generos {
  /*background: #cfcfcf;*/
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  border-style: solid;
  border-color: #949494;
}

#gene {
  margin-right: 5px;
  margin-left: 5px;
}

#gent {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 10px 10px 2px 10px;
  font-weight: 700;
  color:  white;
  text-align: center;
}

#genb {
  border-radius: 10px;
  padding: 5px 10px;
  margin: 2px 10px 10px 10px;
  font-weight: 700;
  color:  white;
  text-align: center;
}

#gent:hover {
  background: #0791c5;
  color: #191919;
}

#genb:hover {
  background: #0791c5;
  color: #191919;
}